{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="container py-5">

    {% include "navbar.html" %}

    <div class="row justify-content-end">
        <div class="col-md-10"><h3>Products</h3></div>
    </div>

    <h4>Categories</h4>

    <div class="row">
        <div class="col-md-2">
            <a href="/" class="btn">All</a>
            {% for category in categories %}
                <a class="btn mt-1" href="{{category.get_absolute_url}}">{{category.name}}</a>
            {% endfor %}
        </div>

        <div class="col-md-10">
            <div class="products-grid">

                {% for product in products %}
                    <div class="card">
                        <a href="{{product.get_absolute_url}}">
                        {% with product_images=product.images.all %}
                            {% if product_images|length > 0 %}
                                <img src="{{product_images.first.image.url}}" class="product-list-img" alt="{{product.name}}">                            
                            {% else %}
                                <img src="{% static 'img/no-image.jpeg' %}" class="product-list-img" alt="no image">    
                            {% endif %}
                        {% endwith %}
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">${{product.price}}</p>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

</div>
{% endblock body %}